<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../../public/css/styles.css">
    {{!-- <script src='../../public/js/app.js'></script> --}}

<head>

</head>

<body>
    <h1>
        {{>headers}}
        {{title}}
        {{name}}
    </h1>
    <p>{{message}}</p>
</body>

</html>