<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src='../../public/js/app.js'></script>
</head>

<body>
    <div>
        <h1>
            sadasda
        </h1>
        <h1>
            {{>headers}}
            {{title}}
            {{name}}
            <p>{{message}}</p>
        </h1>
    </div>
    <h1>
        {{>footer}}
    </h1>
</body>

</html>